<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>CrossGYM | Instructors</title>
        <link rel="icon" href="https://www.flaticon.com/svg/static/icons/svg/3048/3048367.svg">
    {% endblock head %}

    {% block styles %}
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/reset.css">
        <link rel="stylesheet" href="/styles/instructors.css">
        <link rel="stylesheet" href="/styles/createInstructor.css">

    {% endblock styles %}


</head>
<body>

    <div class="header-content">

        <div class="menu-links">
            <a href="/" class="active">Instructors</a>
            <a href="/members">Members</a>
        </div>

    </div>

    {% block content %}{% endblock content %}


</body>
</html>