body {
    background-color: rgb(26, 27, 27);
}

.card .avatar-details {
    background-color: #ffffff;
}

form input {
    width: 100%;
    outline: none;
    background-color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    margin-top: 7px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

form input[type="radio"] {
    width: initial;
    margin-right: 4px;
}


form input::placeholder {
    font-size: 16px;
}


form button,
a.button, .remove-instructor {
    padding: 16px 32px;
    background-color: var(--saveButton);
    border: 1px solid var(--BackGroundColor);
    color: #3f3c3c;
    border-radius: 1px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    outline: none;
    font-weight: bold;

}

form button:hover {
    background-color: var(--hoverColor);
 
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.remove-instructor {
    margin-top: 20px;

    background-color: #c72f2f;
}

.remove-instructor:hover {
    color: white;
    background-color: #e02121;
}

