{% extends  "layout.njk" %}

{% block content %}

    <div class="card">

        <section 
            class="avatar"
            style="background: url('https://source.unsplash.com/collection/1647783/500x500')
            no-repeat center / cover">
        </section>



        <section class="avatar-details">
            <h3>Detalhes:</h3>

            <div class="item">
                <div>Instructor</div>
                <div>Deivid Almeida</div>
            </div>

            <div class="item">
                <div>Age</div>
                <div>18 Anos</div>
            </div>

            <div class="item">
                <div>Sex</div>
                <div>Masculino</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                    <div>
                        <span>Natação</span>
                        <span>Ginastica</span>
                        <span>CrossFit</span>
                        <span>CrossFit</span>
                        <span>CrossFit</span>
                    </div>
             </div>

            <div class="item">
                <div>Since</div>
                <div>14/09/2020</div>
            </div>

        </section>

    </div>


{% endblock content %}
